Below two numpy arrays are given with following columns. 

* Employee Details (1) Employee ID (2) Department (3) Salary
* Performance Metrics (1) Employee ID (2) Performance Score (out of 100) (3) Number of Projects Completed

Using these two arrays you need to complete set of tasks which are given in the notebook cells (along with hints)

In [2]:
import numpy as np

# Employee Details (1) Employee ID (2) Department (3) Salary (4) Name
employee_details = np.array([
    [201, 'Marketing', 58000, 'Alicia Fernandez'],  
    [202, 'Finance', 61000, 'Robert Chen'],    
    [203, 'IT', 75000, 'Kiran Patel'],        
    [204, 'Marketing', 63000, 'Daniel Lee'],    
    [205, 'IT', 70000, 'Sophia Gomez'],      
    [206, 'Finance', 56000, 'Anika Sharma'],           
    [207, 'IT', 73000, 'James Robinson'],    
    [208, 'Marketing', 62000, 'Olivia Martinez'], 
    [209, 'Finance', 58000, 'William Zhang']          
])

# Performance Metrics (1) Employee ID (2) Performance Score (out of 100) (3) Number of Projects Completed
performance_metrics = np.array([
    [201, 86, 6],
    [202, 75, 4],
    [203, 94, 8],
    [204, 89, 5],
    [205, 80, 4],
    [206, 82, 6],
    [207, 90, 9],
    [208, 76, 3],
    [209, 84, 5]
])

### Task 1: Merge above two numpy arrays using np.hstack

In [3]:
merged_details = np.hstack((employee_details, performance_metrics))
merged_details

array([['201', 'Marketing', '58000', 'Alicia Fernandez', '201', '86',
        '6'],
       ['202', 'Finance', '61000', 'Robert Chen', '202', '75', '4'],
       ['203', 'IT', '75000', 'Kiran Patel', '203', '94', '8'],
       ['204', 'Marketing', '63000', 'Daniel Lee', '204', '89', '5'],
       ['205', 'IT', '70000', 'Sophia Gomez', '205', '80', '4'],
       ['206', 'Finance', '56000', 'Anika Sharma', '206', '82', '6'],
       ['207', 'IT', '73000', 'James Robinson', '207', '90', '9'],
       ['208', 'Marketing', '62000', 'Olivia Martinez', '208', '76', '3'],
       ['209', 'Finance', '58000', 'William Zhang', '209', '84', '5']],
      dtype='<U21')

### Task 2: Print All the Salaries

In [4]:
employee_details[:, 2]

array(['58000', '61000', '75000', '63000', '70000', '56000', '73000',
       '62000', '58000'], dtype='<U21')

### Task 3:  Print All the Salaries in Ascending Order

In [5]:
np.sort(employee_details[:, 2])

array(['56000', '58000', '58000', '61000', '62000', '63000', '70000',
       '73000', '75000'], dtype='<U21')

### Task 4:  Iterate through entire array and print only employee id and name

In [9]:
employee_details[:, [0,3]]

array([['201', 'Alicia Fernandez'],
       ['202', 'Robert Chen'],
       ['203', 'Kiran Patel'],
       ['204', 'Daniel Lee'],
       ['205', 'Sophia Gomez'],
       ['206', 'Anika Sharma'],
       ['207', 'James Robinson'],
       ['208', 'Olivia Martinez'],
       ['209', 'William Zhang']], dtype='<U21')

### Task 5: Print performance score of all the employees

In [11]:
merged_details[:, [3, 5]]

array([['Alicia Fernandez', '86'],
       ['Robert Chen', '75'],
       ['Kiran Patel', '94'],
       ['Daniel Lee', '89'],
       ['Sophia Gomez', '80'],
       ['Anika Sharma', '82'],
       ['James Robinson', '90'],
       ['Olivia Martinez', '76'],
       ['William Zhang', '84']], dtype='<U21')

### Task 6: Convert these scores to float type by using astype(float) function

In [14]:
performance_metrics[:, 1].astype(float)

array([86., 75., 94., 89., 80., 82., 90., 76., 84.])

### Task 7:  Now print the average performance score of all the employees

In [17]:
np.average(performance_metrics[:, 1].astype(float))

np.float64(84.0)

### Task 8:  Print all the unique departments. You can use np.unique function for this

In [22]:
# first print departments from all the records
# write code here
print(f"all departments: {employee_details[:, 1]}")

all departments: ['Marketing' 'Finance' 'IT' 'Marketing' 'IT' 'Finance' 'IT' 'Marketing'
 'Finance']

In [23]:
# now print unique departments
# write code here
print(f"unique departments: {np.unique(employee_details[:, 1])}")

unique departments: ['Finance' 'IT' 'Marketing']

### Task 9: Print average salary in HR department

In [1]:
# First print all the records in HR department

# write code here

In [3]:
# Now from these records only print  the salary column. Convert that to float using astype(float) function

# write code here

In [4]:
# Take an average of this column using np.mean() function

# write code here